*.a
*.db
*.gch
*.log
*.msi
*.mst
*.o
*.opendb
*.opensdf
*.sdf
*.suo
*.trs
*.vcxproj.user
.deps
.vs/
aclocal.m4
autom4te.cache
bin/
compile
config.*
configure
depcomp
doc/
doc.test/
install-sh
ipch/
Makefile
Makefile.in
missing
obj/
obj.test/
stamp-h1
test-driver
tetengo2_config.h
tools/zzz_codesign.bat
tools/zzz_test_case_check_functions.txt
tools/zzz_test_case_check_test_cases.txt
*/test/*.test*
*/test/messages.test/
