*.gch
*.ncb
*.o
*.suo
*.user
*/obj
*/obj.test
.deps
aclocal.m4
autom4te.cache
bin
bobura_config.h
config.*
configure
depcomp
doc
doc.test
install-sh
Makefile
Makefile.in
missing
stamp-h1
*/test/*.test*
*/test/messages.test/
