*.gch
*.o
*.opensdf
*.sdf
*.suo
*.vcxproj.user
.deps
aclocal.m4
autom4te.cache
bin/
bobura_config.h
config.*
configure
depcomp
doc/
doc.test/
install-sh
Makefile
Makefile.in
missing
obj/
obj.test/
stamp-h1
*/test/*.test*
*/test/messages.test/
