<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Product
    Id="*"
    Name="Bobura"
    Version="0.0.0"
    Language="1033"
    Codepage="1252"
    Manufacturer="kaorut"
    UpgradeCode="558bc677-56e5-4cee-8919-0c75861f208e"
  >
    <Package
      Id="*"
      Keywords="Bobura Keywords"
      Description="Bobura Description"
      Comments="Bobura Comments"
      Manufacturer="kaorut"
      InstallerVersion="100"
      Languages="1033"
      Compressed="yes"
      SummaryCodepage="1252"
    />
    <Media Id="1" Cabinet="bobura.cab" EmbedCab="yes" DiskPrompt="The first disk"/>
    <Property Id="DiskPrompt" Value="Bobura Installer"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="tetengo" Name="tetengo">
          <Directory Id="INSTALLDIR" Name="bobura">
            <Component Id="MainExecutable" Guid="fe450803-dbde-4380-a1e9-e9937b810244">
              <File
                Id="BoburaEXE"
                Name="bobura.exe"
                Source="bobura.exe"
                DiskId="1"
                KeyPath="yes"
              >
                <Shortcut
                  Id="startmenuBobura"
                  Directory="ProgramMenuDir"
                  Name="Bobura"
                  WorkingDirectory="INSTALLDIR"
                  Icon="bobura.exe"
                  IconIndex="0"
                  Advertise="yes"
                />
              </File>
              <ProgId
                Id="Bobura.bttfile"
                Description="Bubura Timetabe File"
                Icon="BoburaEXE"
                IconIndex="0"
              >
                <Extension Id="btt" ContentType="application/btt">
                  <Verb Id="open" Command="Open" TargetFile="BoburaEXE" Argument='"%1"'/>
                </Extension>
              </ProgId>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Bobura">
          <Component Id="ProgramMenuDir" Guid="8ae33065-80d3-48ee-a2a5-4a4d67cc55f1">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
            <RegistryValue
              Root="HKCU"
              Key="Software\[Manufacturer]\[ProductName]"
              Type="string"
              Value=""
              KeyPath="yes"
            />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature
      Id="Complete"
      Title="Bobura"
      Description="Complete Package"
      ConfigurableDirectory="INSTALLDIR"
      Level="1"
    >
      <ComponentRef Id="MainExecutable"/>
      <ComponentRef Id="ProgramMenuDir"/>
    </Feature>
    <Icon Id="bobura.exe" SourceFile="bobura.exe"/>
    <UIRef Id="WixUI_Mondo"/>
  </Product>
</Wix>
