<?xml version="1.0" encoding="UTF-8"?>
<Wix RequiredVersion="4.0.0.0" xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Product
    Id="*"
    Name="Bobura"
    Version="0.0.0"
    Language="1033"
    Codepage="UTF-8"
    Manufacturer="kaoru"
    UpgradeCode="558bc677-56e5-4cee-8919-0c75861f208e"
  >
    <Package Compressed="yes" InstallerVersion="200"/>
    <Media Id="1" Cabinet="bobura.cab" CompressionLevel="high" EmbedCab="yes"/>
    <Icon Id="bobura.exe" SourceFile="../bin/Release.Win32/bobura.exe"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
    <UIRef Id="WixUI_InstallDir"/>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="Tetengo" Name="tetengo">
          <Directory Id="INSTALLDIR" Name="bobura" FileSource="../bin/Release.Win32/">
            <Component Id="MainExecutable" Guid="fe450803-dbde-4380-a1e9-e9937b810244">
              <File Id="BoburaExe" Name="bobura.exe" DiskId="1" KeyPath="yes">
                <Shortcut
                  Id="StartMenuShortcutToBoburaExe"
                  Directory="ProgramMenuDir"
                  Name="Bobura"
                  WorkingDirectory="INSTALLDIR"
                  Icon="bobura.exe"
                  IconIndex="0"
                  Advertise="yes"
                />
              </File>
              <ProgId
                Id="Bobura.bttfile"
                Description="Bubura Timetable File"
                Icon="BoburaExe"
                IconIndex="0"
              >
                <Extension Id="btt" ContentType="application/btt">
                  <Verb Id="open" Command="&amp;Open" TargetFile="BoburaExe" Argument='"%1"'/>
                </Extension>
              </ProgId>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Bobura">
          <Component Id="ProgramMenuDir" Guid="8ae33065-80d3-48ee-a2a5-4a4d67cc55f1">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
            <RegistryValue
              Root="HKCU"
              Key="Software\[Manufacturer]\[ProductName]"
              Type="string"
              Value=""
              KeyPath="yes"
            />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    
    <Feature
      Id="Complete"
      Title="Bobura"
      Description="Complete Package"
      ConfigurableDirectory="INSTALLDIR"
      Level="1"
    >
      <ComponentRef Id="MainExecutable"/>
      <ComponentRef Id="ProgramMenuDir"/>
    </Feature>
    
  </Product>
</Wix>
