<?xml version="1.0" encoding="UTF-8"?>
<Wix RequiredVersion="4.0.0.0" xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment Id="Feature">
    <FeatureRef Id="x86">
      <ComponentRef Id="MainExecutable"/>
      <ComponentRef Id="ProgramMenuDir"/>
    </FeatureRef>
    
  </Fragment>
</Wix>
