<?xml version="1.0" encoding="UTF-8"?>
<Wix RequiredVersion="4.0.0.0" xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment Id="Layout">
    <DirectoryRef Id="INSTALLDIR" FileSource="../bin/Release.Win32/">
      <Component Id="MainExecutable" Guid="fe450803-dbde-4380-a1e9-e9937b810244">
        <File Id="BoburaExe" Name="bobura.exe" DiskId="1" KeyPath="yes">
          <Shortcut
            Id="StartMenuShortcutToBoburaExe"
            Directory="ProgramMenuDir"
            Name="Bobura"
            WorkingDirectory="INSTALLDIR"
            Icon="bobura.exe"
            IconIndex="0"
            Advertise="yes"
          />
        </File>
        <ProgId
          Id="Bobura.bttfile"
          Description="Bubura Timetable File"
          Icon="BoburaExe"
          IconIndex="0"
        >
          <Extension Id="btt" ContentType="application/btt">
            <Verb Id="open" Command="&amp;Open" TargetFile="BoburaExe" Argument='"%1"'/>
          </Extension>
        </ProgId>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="ProgramMenuDir" Guid="8ae33065-80d3-48ee-a2a5-4a4d67cc55f1">
        <RemoveFolder Id="ProgramMenuDir" On="uninstall"/>
        <RegistryValue
          Root="HKCU"
          Key="Software\[Manufacturer]\[ProductName]"
          Type="string"
          Value=""
          KeyPath="yes"
        />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
